<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


	<bean id="triangle1" class="bean_factory.Triangle" >
		<property name="point1" ref="point1" />
	</bean>

	<bean id="triangle2" class="bean_factory.Triangle" parent="triangle1">
		<property name="point2" ref="point2" />
	</bean>
	
	<bean id="triangle3" class="bean_factory.Triangle" parent="triangle2">
		<property name="point3" ref="center" />
	</bean>
		
	<bean id="point1" class="bean_factory.Point">
		<property name="x" value="0"  />
		<property name="y" value="0"  />	
	</bean>

	<bean id="point2" class="bean_factory.Point">
		<property name="x" value="10" />
		<property name="y" value="20" />
	</bean>	
	
	<bean id="center" class="bean_factory.Point">
		<property name="x" value="30" />
		<property name="y" value="50" />
 	</bean>
 	
 	<context:component-scan base-package="bean_factory"></context:component-scan>
 	
 	<bean class="bean_factory.DisplayNameBeanPostProcessor" />

</beans>        